# Ignore these files since they are local to the user
*.vs/
*.vscode/
*obj/
BroforceModSoftware/bin/Debug/netcoreapp3.1/Storage
BroforceModSoftware/bin/Debug/netcoreapp3.1/Levels
BroforceModSoftware/bin/Debug/netcoreapp3.1/Saves
